rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /feedback/{doc} {
      allow create: if true;
    }

  }
}